SERVICE=service_name
DOMAIN=domain.com

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=https://SERVICE.DOMAIN/oauth_callback.php
ALLOWED_EMAILS=user@gmail.com
